In [3]:
import numpy as np
import pandas as pd

C:\anaconda\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\anaconda\lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [15]:
df=pd.read_csv('Downloads/Credit.csv')

In [16]:
df.shape

(400, 12)

In [17]:
df.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [18]:
# Chuẩn hóa chữ (bỏ khoảng trắng, viết hoa đầu)
df["Gender"]  = df["Gender"].str.strip().str.capitalize()
df["Student"] = df["Student"].str.strip().str.capitalize()
df["Married"] = df["Married"].str.strip().str.capitalize()

df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})
df['Student'] = df['Student'].map({'Yes': 0, 'No': 1})
df['Married'] = df['Married'].map({'Yes': 0, 'No': 1})

print(df.head())

   Unnamed: 0   Income  Limit  Rating  Cards  Age  Education  Gender  Student  \
0           1   14.891   3606     283      2   34         11       0        1
1           2  106.025   6645     483      3   82         15       1        0
2           3  104.593   7075     514      4   71         11       0        1
3           4  148.924   9504     681      3   36         11       1        1
4           5   55.882   4897     357      2   68         16       0        1

   Married  Ethnicity  Balance
0        0  Caucasian      333
1        0      Asian      903
2        1      Asian      580
3        1      Asian      964
4        0  Caucasian      331

In [19]:
onehot_E = pd.get_dummies(df.Ethnicity, prefix='Ethnicity').astype(int)
print(onehot_E.head())

   Ethnicity_African American  Ethnicity_Asian  Ethnicity_Caucasian
0                           0                0                    1
1                           0                1                    0
2                           0                1                    0
3                           0                1                    0
4                           0                0                    1

In [20]:
df["Ethnicity_Asian"] = df["Ethnicity"].map(lambda x: 1 if x == "Asian" else 0)
df["Ethnicity_Caucasian"] = df["Ethnicity"].map(lambda x: 1 if x == "Caucasian" else 0)

df = df.drop("Ethnicity", axis=1)
df.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Balance,Ethnicity_Asian,Ethnicity_Caucasian
0,1,14.891,3606,283,2,34,11,0,1,0,333,0,1
1,2,106.025,6645,483,3,82,15,1,0,0,903,1,0
2,3,104.593,7075,514,4,71,11,0,1,1,580,1,0
3,4,148.924,9504,681,3,36,11,1,1,1,964,1,0
4,5,55.882,4897,357,2,68,16,0,1,0,331,0,1

In [27]:
Y = df['Balance']
X = df.drop('Balance', axis=1)

In [22]:
X.head()

X = X.drop('Unnamed: 0', axis=1)

In [23]:
X.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity_Asian,Ethnicity_Caucasian
0,14.891,3606,283,2,34,11,0,1,0,0,1
1,106.025,6645,483,3,82,15,1,0,0,1,0
2,104.593,7075,514,4,71,11,0,1,1,1,0
3,148.924,9504,681,3,36,11,1,1,1,1,0
4,55.882,4897,357,2,68,16,0,1,0,0,1

In [28]:
Y.head()

0    333
1    903
2    580
3    964
4    331
Name: Balance, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print(X.shape, X_test.shape)

(400, 12) (80, 12)

In [30]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score, root_mean_squared_error
from sklearn.model_selection import cross_val_score


models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(),
    "Lasso Regression": Lasso(),
    "Random Forest": RandomForestRegressor()
}

results = {}

for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    rmse = root_mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    results[name] = {"RMSE": rmse, "R2": r2}


for name, res in results.items():
    print(f"{name}: R2 Score = {res['R2']:.4f}, RMSE = {res['RMSE']:.2f}")

C:\anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.613e+06, tolerance: 7.097e+03
  model = cd_fast.enet_coordinate_descent(

Linear Regression: R2 Score = 0.9523, RMSE = 89.25
Ridge Regression: R2 Score = 0.9516, RMSE = 89.94
Lasso Regression: R2 Score = 0.9515, RMSE = 90.03
Random Forest: R2 Score = 0.9261, RMSE = 111.15

In [31]:
lr = models["Linear Regression"]
print("Phương trình hồi quy:")
print("y = {:.2f}".format(lr.intercept_), end="")
for i, col in enumerate(X_train.columns):
    print(" + ({:.2f} * {})".format(lr.coef_[i], col), end="")
print()

Phương trình hồi quy:
y = -62.63 + (0.05 * Unnamed: 0) + (-7.56 * Income) + (0.20 * Limit) + (0.99 * Rating) + (19.02 * Cards) + (-0.62 * Age) + (-1.07 * Education) + (-11.16 * Gender) + (-418.58 * Student) + (7.00 * Married) + (13.35 * Ethnicity_Asian) + (10.50 * Ethnicity_Caucasian)

In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error

df = pd.read_csv("Advertising.csv")

# Chọn biến độc lập và phụ thuộc
features = ["TV", "Radio", "Newspaper"]
X = df[features]
y = df["Sales"]

In [86]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [87]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [92]:
models = {
    "Linear Regression": LinearRegression(),
    "Ridge Regression": Ridge(),
    "Lasso Regression": Lasso(),
    "Random Forest": RandomForestRegressor(random_state=42)
}

results = {}

In [93]:
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_pred)
    results[name] = {"RMSE": rmse, "R2": r2}

# In kết quả
for name, res in results.items():
    print(f"{name}: R2 Score = {res['R2']:.4f}, RMSE = {res['RMSE']:.2f}")

# In phương trình hồi quy của Linear Regression
lr = models["Linear Regression"]
print("\nPhương trình hồi quy:")
print("y = {:.2f}".format(lr.intercept_), end="")
for coef, col in zip(lr.coef_, X.columns):
    print(" + ({:.2f} * {})".format(coef, col), end="")
print()

Linear Regression: R2 Score = 0.8994, RMSE = 1.78
Ridge Regression: R2 Score = 0.8994, RMSE = 1.78
Lasso Regression: R2 Score = 0.9004, RMSE = 1.77
Random Forest: R2 Score = 0.9813, RMSE = 0.77

Phương trình hồi quy:
y = 2.98 + (0.04 * TV) + (0.19 * Radio) + (0.00 * Newspaper)